<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si le fichier ou dossier existe, on le laisse passer
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon, on redirige vers index.php
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Désactiver l'affichage des fichiers cachés comme .env
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Empêche l'accès au fichier .env et autres sensibles
<Files .env>
    Order allow,deny
    Deny from all
</Files>
